<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>登录</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/admin/css/login.css" />
	</head>

	<body class="beg-login-bg">
		<div class="beg-login-box">
			<header>
				<h1>后台管理系统 V1.1</h1>
			</header>
			<div class="beg-login-main">
				<form class="layui-form" method="post">
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe612;</i>
                    </label>
						<input type="text" name="account" lay-verify="account" autocomplete="off" placeholder="输入登录名" class="layui-input">
					</div>
					<div class="layui-form-item">
						<label class="beg-login-icon">
                        <i class="layui-icon">&#xe642;</i>
                    </label>
						<input type="password" name="password" lay-verify="password" autocomplete="off" placeholder="输入密码" class="layui-input">
					</div>
					<div class="layui-form-item">
						<div class="beg-pull-left">
							<label class="beg-login-icon">
								<i class="layui-icon">&#xe610;</i>
							</label>
							<input event=enterSubmit type="text" name="code" lay-verify="code" autocomplete="off" placeholder="输入验证码" class="layui-input beg-login-code-box">
						</div>
						<div class="beg-pull-right">
							<img src="{:U('verify','','')}" class="beg-login-code-box-img" onClick="this.src=this.src+'/'+Math.random()" id="codeImg" title="点击刷新验证码"/><!-- 点击刷新验证码 -->
						</div>
					</div>
					<div class="layui-form-item">
						<!--<div class="beg-pull-left beg-login-remember">-->
							<!--<label>记住帐号？</label>-->
							<!--<input type="checkbox" name="rememberMe" value="true" lay-skin="switch" checked title="记住帐号">-->
						<!--</div>-->
						<div class="beg-pull-center">
							<button  type="button" class="layui-btn layui-btn-primary login-btn" lay-submit lay-filter="login">
                            	<i class="layui-icon">&#xe650;</i> 登录
                       		</button>
						</div>
						<div class="beg-clear"></div>
					</div>
				</form>
			</div>
		</div>
	</body>
<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/mcode.js"></script>
<include file="signin"/>
</html>