<script type="text/javascript">
    layui.config({
        base: "{:C(JS_BASE_PATH)}"
    }).use(['layer','form','func'], function(){
        var layer = layui.layer,
            form = layui.form(),
            func = layui.func,
            $ = layui.jquery;
        $("[event=add]").click(function () {
            if($('[event=table]').find('tr').length > 7) {
                layer.msg('导航数量已经到达上限！');
                return false;
            }
            var formTpl;
            formTpl = $("[event=formTpl]").html();
            func.layerOpen('添加栏目',formTpl,'editTpl');
            form.render();
        });

        form.on('submit(add)',function (data) {
            func.ajax("{:U('add')}",data.field);
            return false;
        });
    });
</script>