<include file="Common:iframe_header"/>
<include file="softTpl"/>
<include file="Common:iframe_footer"/>
<script type="text/javascript" src="__PUBLIC__/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    layui.config({
        base: "{:C(JS_BASE_PATH)}"
    }).use(['jquery','func','layer','form','upload'],function () {
        var $ = layui.jquery,
                func = layui.func,
                layer = layui.layer,
                form = layui.form();

        var ur = UE.getEditor('content');

        form.on("submit(add)",function (data) {
            var download=[] , obj;
            $('#download-list').find('.download').each(function () {
                obj =  {
                    url : $(this).find("input[name=down_url]").val(),
                    name : $(this).find("input[name=down_name]").val()
                }
                download.push(obj);
            });
            var params = data.field;
            params.download = download;
            func.ajax("{:U('add')}",params,function (msg) {
                if(msg.respCode !== 10000){
                    layer.msg(msg.respMsg);
                    return false;
                }
                layer.msg('软件发布成功！');
                setTimeout(function () {
                    window.location.href="{:U(index)}";
                },"1000")
            })
        })
    });
</script>