<div event="formTpl" class="layui-hide">
    <form class="layui-form form-content" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">分组名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入分组名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value='1' title="开启" checked>
                <input type="radio" name="status" value='2' title="禁用">
            </div>
        </div>
        <input type="hidden" name="id" value="" class="layui-input"/>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button event="submit" class="layui-btn" lay-submit lay-filter="add">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>